            <div class="modal-header">
                <h4 class="modal-title text-capitalize" id="myModalLabel">Associations between {{result.chemical.common_name}} & {{result.gene.gene_symbol}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <strong>{{result.via_diseases|count}} Disease(s) linked with {{result.chemical.common_name}} & {{result.gene.gene_symbol}}.</strong>
                    <br>
                    <div style="max-height: 400px; overflow: auto;">
                        <table class="table table-hover table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="white-space:nowrap;">Disease ID</th>
                                    <th>Disease Name</th>
                                    <th>Disease Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for disease in result.via_diseases %}
                                    <tr>
                                        <td>
                                            {% if disease.disease_id[0] == 'M' %}
                                            <a href="https://meshb.nlm.nih.gov/record/ui?ui={{disease.disease_id[5:]}}" target="_blank">{{disease.disease_id}}<i class="fas fa-external-link-alt" style="vertical-align: top; font-size: 12px;"></i></a>
                                            {% else %}
                                            <a href="https://www.omim.org/entry/{{disease.disease_id[5:]}}" target="_blank" )>{{disease.disease_id}}<i class="fas fa-external-link-alt" style="vertical-align: top; font-size: 12px;"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{url_for('get_disease', disease_id=disease.disease_id)}}" target="_blank">{{disease.disease_name}}</a>
                                        </td>
                                        <td>
                                            {{disease.disease_category | replace('|', ' | ') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    No Disease(s) linked with {{result.chemical.common_name}} & {{result.gene.gene_symbol}} were found.
                                    <hr />
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div style="max-height: 400px; overflow: auto;">
                        {% if result.association.interaction_actions  %}
                            <strong>
                            {{result.association.interaction_actions.split('|')|unique|list|length}} interaction action(s) curated from CTD.</strong>
                            <table class="table table-hover table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Interaction Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inter_action in result.association.interaction_actions.split('|')|unique %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ inter_action.replace('^', ' ').title()}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <strong>No interaction actions were curated from CTD.</strong>
                            <hr>
                        {% endif %}
                    </div>
                </div>
            </div>