{% extends 'common/index.html' %}


{% block body %}


<div class="container pt-4">
	
	<hr />
	<h5 class="container"><strong>Gene Name</strong></h5>
	<hr />
	<div class="row">
		<div class="col-md-12">
			
		<p class="card-text">
            <span class="text-danger">Entrez Gene ID: </span> {{ gene.gene_id }}<br> 
            <span class="text-danger">Gene Name: </span> Gene Name<br> 
	    </p>	

		</div>
	</div>



	<div class="row pt-4">
		<div class="col-md-12">
			
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			
			{% if subcategory == 'food' %}
			<li class="nav-item">
				<a class="nav-link active" id="food-tab" data-toggle="tab" href="#food" role="tab" aria-controls="food" aria-selected="true">Inferred Food Associations</a>
			</li>
			{% elif not 'food' in subcategory_that_exist %} 
			{% else %}
			<li class="nav-item">
				<a class="nav-link" id="food-tab" href="{{url_for('get_gene', gene_id=gene.gene_id ,subcategory='food')}}">Inferred Food Associations</a>
			</li>
			{% endif %}

			{% if subcategory == 'disease' %}
			<li class="nav-item">
				<a class="nav-link active" id="disease-tab" data-toggle="tab" href="#disease" role="tab" aria-controls="disease" aria-selected="true">Associated Diseases</a>
			</li>
			{% elif not 'disease' in subcategory_that_exist %}
			{% else %}
			<li class="nav-item">
				<a class="nav-link" id="disease-tab" href="{{url_for('get_gene', gene_id=gene.gene_id ,subcategory='disease')}}">Associated Diseases</a>
			</li>
			{% endif %}
			
			{% if subcategory == 'chemical' %}
			<li class="nav-item">
				<a class="nav-link active" id="chemical-tab" data-toggle="tab" href="#chemical" role="tab" aria-controls="chemical" aria-selected="true">Associated Chemicals</a>
			</li>
			{% elif not 'chemical' in subcategory_that_exist %} 
			{% else %}
			<li class="nav-item">
				<a class="nav-link" id="chemical-tab" href="{{url_for('get_gene', gene_id=gene.gene_id ,subcategory='chemical')}}">Associated Chemicals</a>
			</li>
			{% endif %}

		</ul>


		<div class="tab-content" id="myTabContent">
			{% if subcategory == 'food' %}
			<div class="tab-pane fade show active" id="food" role="tabpanel" aria-labelledby="food-tab">
				{% include 'food/food_gene.html' %}
				
			</div>
			{% elif subcategory == 'disease' %}
			<div class="tab-pane fade show active" id="disease" role="tabpanel" aria-labelledby="disease-tab">

				{% include 'disease/disease_gene.html' %}

			</div>
			{% elif subcategory == 'chemical' %}
			<div class="tab-pane fade show active" id="chemical" role="tabpanel" aria-labelledby="chemical-tab">
			
				{% include 'chemical/chemical_gene.html' %}
			
			</div>
			{% endif %}


		</div>

		{% include 'common/pagination_links.html' %}
		</div>
	</div>
	
 	

</div>


{% endblock %}
