<div id="search_disease">
	<hr />
	<h5 class="container">
		<span>
			<img src="static/images/search_logo.png" class="d-inline-block align-top" style="max-width: 1em; max-height: 1em;">
		</span>
		<strong>&nbsp;&nbsp;Disease Search</strong>
	</h5>
	<hr />
	<form class="input-group mb-3 search-form">
		<div class="input-group">
			<input href="#disease-results" table="disease" type="text" name="query" class="form-control query-field" id="disease_query" placeholder="Enter any disease's name or category">
			<div class="input-group-btn input-group-append">
				<input role="button" class="btn btn-primary" type="submit" type="submit">Search</input>
			</div>
		</div>
	</form>
	<a href="{{url_for('view_all', type='disease')}}" target="_blank">View All Disease</a>

	<div id="disease-results"></div>
</div>