{% extends 'common/index.html' %}
{% block extra_head %}
	<script type="application/javascript" src="{{ url_for('static', filename='jsme/jsme.nocache.js') }}"></script>
	<script type="text/javascript">
		function autocomplete(id){
			$( id ).autocomplete({
				minLength: 3,
				source: function( request, response ) {
					q = $(id)
					$.ajax( {
						url: "{{ url_for('autocomplete') }}?table="+ q.attr('table')+"&query="+request.term,
						dataType: "json",
						success: function( data ) {
							data = JSON.parse(data);
							var newData = [];
							for(var i=0; i<data.length ; ++i){
								newData.push({'value': data[i]})
							}
							response(Array.from(newData));
						}
					} );
				}
			} );
		}
		function search(){
			$('.search-form').on('submit', function(event) {
				event.preventDefault();
				q = $(event.currentTarget).find('.query-field')
				$.get("{{ url_for('search') }}?table="+q.attr('table')+"&query="+q.val(), function(data){
					$(q.attr('href')).html(data);
				});
			});
		}
		function search_loader(id){
			$('.query-field').hide();
			$('#food_query').show();
		
			$(id).on('change', function () {
				if ($(this).val() === "food") {
					$('.query-field').hide();
					$('#food_query').show();
				}
				else if ($(this).val() === "disease") {
					$('.query-field').hide();
					$('#disease_query').show();
				}
				else if ($(this).val() === "gene") {
					$('.query-field').hide();
					$('#gene_query').show();
				}
				else if ($(this).val() === "chemical") {
					$('.query-field').hide();
					$('#chemical_query').show();
				}
			});
		}
		function show_chemical_structure_search(){
			$('#chemical_structure_search_button').on('click', function(event){
				$('#chemical_structure_search').toggle()
			});
		}
		$(document).ready(function(){
			autocomplete('#food_query')
			autocomplete('#disease_query')
			autocomplete('#gene_query')
			autocomplete('#chemical_query')
			search()
			show_chemical_structure_search()
		});
		$(document).ready(function(){
			$(document).on('click', '.page-link', function(event){
				event.preventDefault();
				$.get($(this).attr('href'), function(data){
					$('#results').html(data);
				});
			});
		});
	</script>







<script type="text/javascript">
	function submit_molecules() {

		e.preventDefault();
		$('#smiles').attr('value', jsmeAppletSearch.smiles());

		document.getElementById("chemical-search-form").submit();

	}
	$(document).ready(function() {
		$("#chemical-search-form").submit(function(e){
			e.preventDefault(e);
			$('#smiles').attr('value', jsmeAppletSearch.smiles());
			document.getElementById("chemical-search-form").submit();
		});
	});
</script>
<script type="text/javascript">
	function jsmeOnLoad() {
		var width = 500;
		var height = 360;
		if(height > 350){
			height = 350;
		}
		// console.log(height, width)
		jsmeAppletSearch = new JSApplet.JSME("jsme_container_search", Math.abs(width).toString()+'px', Math.abs(height).toString()+'px');
		$('#chemical_structure_search').hide()
	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
  		$('#alogp').removeClass('active');
  		$('#hbd').removeClass('active');
  		$('#hba').removeClass('active');
	});
</script>


{% endblock %}
{% block body %}
	<style>
		.ui-autocomplete-loading {
			background: white url("{{url_for('static',filename='images/ui-anim_basic_16x16.gif') }}") right center no-repeat;
		}
		.ui-autocomplete {
			max-height: 200px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	</style>
	<style>
		.search-options {
			background-color: yellow;
			font-weight: bold;
		}
	</style>
	<div class="container pt-4">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron text-center pt-3">
					<h1>DietRx</h1>
<p>An integrative resource to explore interrelationships among foods, diseases, genes and chemicals.</p>
					<div class="row text-center btn-group btn-block pt-3 mb-0 pb-0">
						<a href="#search" class="col-xs-12 col-md-3 btn btn-primary" role="button">Search</a>
						<!-- <a href="#stats" class="col-xs-12 col-md-3 btn btn-primary" role="button">Statistics</a> -->
						<a href="http://cosylab.iiitd.edu.in/dietrx/analytics" class="col-xs-12 col-md-3 btn btn-primary" role="button">Analytics</a>
						<a href="{{ url_for('how_to_use') }}" class="col-xs-12 col-md-3 btn btn-primary" role="button">How to Use</a>
						<a href="{{ url_for('faq') }}" class="col-xs-12 col-md-3 btn btn-primary" role="button">FAQs</a>
					</div>
				</div>
			</div>
		</div>
		
		<hr />
		<h5 class="container"><strong>DietRx Summary</strong></h5>
		<hr />
		<div class="row">
<blockquote class="blockquote ml-2 mr-2">
DietRx provides a platform for exploring health impacts of dietary ingredients by integrating interrelationships among food 
and key molecular agents. The resource assimilates dietary factors (food and chemicals), their health consequences (diseases) 
and genetic mechanisms to facilitate queries for investigating associations among these entities. At the core of the DietRx
is the {{ stats.fd_assoc}} positive/negative food-disease associations for {{ stats.fd_foods }} food entities belonging to
{{stats.fcats}} categories (plant, fruit, meat, etc.) text-mined from biomedical literature (27 million MEDLINE abstracts)
using a state-of-the-art deep learning based relation extraction model (Precision={{ stats.precision}}, Recall={{stats.recall}}
and F1 Score = {{stats.f1}}). These data are further interlinked with those involving food chemicals and genes compiled from
curated data sources. Thus, DietRx is a seamless exploration platform for probing elements central to diet and their health
consequences. DietRx facilitates study of associations among food, disease, chemicals and genes to enable drawing data-driven
inferences to be used for culinary interventions as well as for drug discovery.
			</blockquote>
		</div>
		<div>
<img class="img-thumbnail" src={{url_for( 'static', filename='images/how-to/overview/Figure_DietRx_Overview_VIdeo_1.jpg'
    )}}>
		</div>

		<div id="search" class="pt-4">
			<hr />
			<h5 class="container">
				<span>
					<img src="static/images/search_logo.png" class="d-inline-block align-top" style="max-width: 1em; max-height: 1em;">
				</span>
				<strong>&nbsp;&nbsp;DietRx Search</strong>
			</h5>
			<hr />

			<ul class="nav nav-tabs nav-fill">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#entity-name-search" role="tab" aria-controls="entity-name-search"
					aria-selected="true">Entity Identifier Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#chemical-advanced-search" role="tab" aria-controls="chemical-advanced-search"
					aria-selected="false">Chemical Advanced Search</a>
				</li>
			</ul>

			<div class="tab-content pt-4 ml-2 mr-2" id="myTabContent">
				<div class="tab-pane fade show active" id="entity-name-search" role="tabpanel" aria-labelledby="home-tab">
					 {% include 'food/food_search.html' %}
					 {% include 'disease/disease_search.html' %} 
					 {% include 'gene/gene_search.html' %}
					{% include 'chemical/chemical_search.html' %}
				</div>
				<div class="tab-pane fade" id="chemical-advanced-search" role="tabpanel" aria-labelledby="profile-tab">
 					{% include 'chemical/chemical_advanced_search.html' %}
				</div>
			</div>

			
		</div>
		
	</div>
{% endblock %}