<div class="pt-4">
	<table class="table table-hover">
		<thead>
			<th>Disease Name</th>
			<th>Disease Category</th>
			<th>Associations</th>
			<th>Details</th>
		</thead>
		<tbody>
			{% for result in results %}
			<tr>
				<td>
					<a target="_blank" href="{{url_for('get_disease', disease_id=result.disease.disease_id)}}">{{ result.disease.disease_name }}</a>
				</td>
				<td>
					{{ result.disease.disease_category | replace('|', ', ') }}
				</td>
				<td>
					(<strong style="color: green">{{result.positive_associations | length}}</strong>, 
					<strong style="color: red">{{result.negative_associations | length}}</strong>)
				</td>
				<td>
					<button class="btn btn-primary associations_details" role="button" id="type=food_disease&food_id={{food.food_id}}&disease_id={{result.disease.disease_id}}" data-toggle="modal" data-target="#associations_details_modal">
						Details
					</button>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>

	 {% include 'common/associations_details_ajax.html' %}

</div>