<div class="pt-4">
	<table class="table table-hover">
		<thead>
			<th>Name</th>
			<th>Category</th>
			<th>Associations</th>
			<th>Details</th>
		</thead>
		<tbody>
			{% for result in results %}
			<tr>
				<td>
					<a target="_blank" href="{{url_for('get_disease', disease_id=result.disease.disease_id)}}">{{ result.disease.disease_name }}</a>
				</td>
				<td>
					{{ result.disease.disease_category | replace('|', ', ') }}
				</td>
				<td>
					(<strong style="color: green">{{result.positive_associations | length}}</strong>, 
					<strong style="color: red">{{result.negative_associations | length}}</strong>)
				</td>
				<td>
					<a class="btn btn-primary" data-toggle="collapse" href="#{{ loop.index }}" role="button" aria-expanded="false" aria-controls="{{ loop.index }}">
						Details
					</a>
				</td>
			</tr>



			<tr class="collapse" id="{{ loop.index }}">
				<td colspan="5">
					<div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="5">Associations of {{food.display_name}} with {{result.disease.disease_name}}</th>
								</tr>
								<tr>
									<th>PMID</th>
									<th>Disease</th>
									<th>Title</th>
									<th>Journal</th>
									<th>Year</th>
								</tr>
							</thead>
							<tbody>

								{% for association in result.positive_associations %}

								<tr style="background-color: #bfffbf;">
									<td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ association.pmid }}">{{ association.pmid }}</a></td>
									<td><a target="_blank" href="{{url_for('get_disease', disease_id=result.disease.disease_id)}}">{{ result.disease.disease_name }}</a></td>
									<td data-toggle="tooltip" data-placement="bottom" title="{{ association.reference.title }}">{{ association.reference.title|truncate(40) }}</td>
									<td data-toggle="tooltip" data-placement="bottom" title="{{ association.reference.journal_name }}">{{ association.reference.journal_name_abbr }}</td>
									<td>{{ association.reference.date }}</td>
								</tr>

								{% else %}
								<tr style="background-color: #bfffbf;">
									<td colspan="10">
										No positive associations were obtained for {{food.display_name}} with {{result.disease.disease_name}}.
									</td>
								</tr>

								{% endfor %}


								{% for association in result.negative_associations %}

								<tr style="background-color: #ffbfc5;">
									<td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ association.pmid }}">{{ association.pmid }}</a></td>
									<td><a target="_blank" href="{{url_for('get_disease', disease_id=result.disease.disease_id)}}">{{ result.disease.disease_name }}</a></td>
									<td data-toggle="tooltip" data-placement="bottom" title="{{ association.reference.title }}">{{ association.reference.title|truncate(40) }}</td>
									<td data-toggle="tooltip" data-placement="bottom" title="{{ association.reference.journal_name }}">{{ association.reference.journal_name_abbr }}</td>
									<td>{{ association.reference.date }}</td>
								</tr>

								{% else %}
								<tr style="background-color: #ffbfc5;">
									<td colspan="10">
										No negative associations were obtained for {{food.display_name}} with {{result.disease.disease_name}}.
									</td>
								</tr>

								{% endfor %}

							</tbody>
						</table>

					</div>
				</td>
			</tr>




			{% endfor %}
		</tbody>
	</table>
</div>